n8n/workflows/02-email-onboarding.json
[
    {
        "name": "📧 OUTFITY - Emails Onboarding (API Resend)",
        "nodes": [
            {
                "parameters": {
                    "httpMethod": "POST",
                    "path": "outfity-onboarding",
                    "responseMode": "responseNode",
                    "options": {}
                },
                "id": "webhook-signup",
                "name": "Webhook Signup",
                "type": "n8n-nodes-base.webhook",
                "typeVersion": 2,
                "position": [
                    240,
                    300
                ],
                "webhookId": "outfity-onboarding"
            },
            {
                "parameters": {
                    "jsCode": "const { userId, email, name, plan } = $input.first().json;\n\nif (!email || !userId) {\n  throw new Error('email et userId requis');\n}\n\nreturn [{\n  json: {\n    userId,\n    email,\n    name: name || 'Créateur',\n    plan: plan || 'free',\n    signupDate: new Date().toISOString()\n  }\n}];"
                },
                "id": "validate-data",
                "name": "Valider Données",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    460,
                    300
                ]
            },
            {
                "parameters": {
                    "respondWith": "json",
                    "responseBody": "={ \"success\": true, \"message\": \"Onboarding sequence started\" }",
                    "options": {
                        "responseCode": 200
                    }
                },
                "id": "respond-ok",
                "name": "Réponse OK",
                "type": "n8n-nodes-base.respondToWebhook",
                "typeVersion": 1,
                "position": [
                    680,
                    180
                ]
            },
            {
                "parameters": {
                    "method": "POST",
                    "url": "https://api.resend.com/emails",
                    "authentication": "genericCredentialType",
                    "genericAuthType": "httpHeaderAuth",
                    "sendHeaders": true,
                    "headerParameters": {
                        "parameters": [
                            {
                                "name": "Authorization",
                                "value": "=Bearer {{ $env.SMTP_PASS }}"
                            }
                        ]
                    },
                    "sendBody": true,
                    "bodyParameters": {
                        "parameters": [
                            {
                                "name": "from",
                                "value": "OUTFITY <onboarding@outfity.fr>"
                            },
                            {
                                "name": "to",
                                "value": "={{ $json.email }}"
                            },
                            {
                                "name": "subject",
                                "value": "=🎉 Bienvenue sur OUTFITY, {{ $json.name }} !"
                            },
                            {
                                "name": "html",
                                "value": "=<div style=\"font-family: -apple-system, Inter, sans-serif; max-width: 600px; margin: 0 auto; background: #F5F5F7; padding: 40px 20px;\">\n  <div style=\"background: white; border-radius: 24px; padding: 40px; text-align: center;\">\n    <h1 style=\"color: #1D1D1F; font-size: 28px; font-weight: 600; letter-spacing: -0.02em;\">Bienvenue sur OUTFITY 🎨</h1>\n    <p style=\"color: #1D1D1F; font-size: 16px; line-height: 1.6;\">Bonjour {{ $json.name }},</p>\n    <p style=\"color: #1D1D1F; font-size: 16px; line-height: 1.6;\">Vous êtes maintenant prêt(e) à créer votre marque de vêtements avec l'IA. Voici ce que vous pouvez faire dès maintenant :</p>\n    <div style=\"margin: 30px 0;\">\n      <div style=\"background: #F5F5F7; border-radius: 16px; padding: 20px; margin: 10px 0; text-align: left;\">\n        <strong>1️⃣ Créer votre marque</strong><br>Définissez votre identité (nom, logo, couleurs)\n      </div>\n      <div style=\"background: #F5F5F7; border-radius: 16px; padding: 20px; margin: 10px 0; text-align: left;\">\n        <strong>2️⃣ Explorer les tendances</strong><br>15 000+ produits analysés quotidiennement\n      </div>\n      <div style=\"background: #F5F5F7; border-radius: 16px; padding: 20px; margin: 10px 0; text-align: left;\">\n        <strong>3️⃣ Générer un design</strong><br>Tech pack professionnel en quelques clics\n      </div>\n    </div>\n    <a href=\"{{ $env.OUTFITY_APP_URL }}/dashboard\" style=\"display: inline-block; background: #000; color: #fff; padding: 16px 32px; border-radius: 100px; text-decoration: none; font-weight: 500; font-size: 16px;\">Commencer maintenant →</a>\n    <p style=\"color: #86868B; font-size: 13px; margin-top: 30px;\">OUTFITY par BIANGORY — Créez votre marque avec les données des géants</p>\n  </div>\n</div>"
                            }
                        ]
                    },
                    "options": {}
                },
                "id": "resend-j0",
                "name": "Resend - Bienvenue",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.1,
                "position": [
                    680,
                    380
                ]
            },
            {
                "parameters": {
                    "amount": 1,
                    "unit": "days"
                },
                "id": "wait-j1",
                "name": "Attendre J1",
                "type": "n8n-nodes-base.wait",
                "typeVersion": 1,
                "position": [
                    900,
                    380
                ]
            },
            {
                "parameters": {
                    "method": "POST",
                    "url": "https://api.resend.com/emails",
                    "authentication": "genericCredentialType",
                    "genericAuthType": "httpHeaderAuth",
                    "sendHeaders": true,
                    "headerParameters": {
                        "parameters": [
                            {
                                "name": "Authorization",
                                "value": "=Bearer {{ $env.SMTP_PASS }}"
                            }
                        ]
                    },
                    "sendBody": true,
                    "bodyParameters": {
                        "parameters": [
                            {
                                "name": "from",
                                "value": "OUTFITY <onboarding@outfity.fr>"
                            },
                            {
                                "name": "to",
                                "value": "={{ $json.email }}"
                            },
                            {
                                "name": "subject",
                                "value": "💡 3 erreurs à éviter quand on lance sa marque"
                            },
                            {
                                "name": "html",
                                "value": "=<div style=\"font-family: -apple-system, Inter, sans-serif; max-width: 600px; margin: 0 auto; background: #F5F5F7; padding: 40px 20px;\">\n  <div style=\"background: white; border-radius: 24px; padding: 40px;\">\n    <h1 style=\"color: #1D1D1F; font-size: 24px; font-weight: 600; letter-spacing: -0.02em;\">3 erreurs fatales des créateurs de mode 🚫</h1>\n    <p style=\"color: #1D1D1F; font-size: 16px; line-height: 1.6;\">Bonjour {{ $json.name }},</p>\n    <div style=\"margin: 24px 0;\">\n      <div style=\"border-left: 3px solid #FF3B30; padding-left: 16px; margin: 20px 0;\">\n        <strong>Erreur #1 : Ignorer les tendances</strong><br>\n        <span style=\"color: #86868B;\">Les marques qui réussissent analysent les données. Notre module Tendances scrape 15 000+ produits/jour.</span>\n      </div>\n      <div style=\"border-left: 3px solid #FF9500; padding-left: 16px; margin: 20px 0;\">\n        <strong>Erreur #2 : Négliger le Tech Pack</strong><br>\n        <span style=\"color: #86868B;\">Un tech pack professionnel évite 80% des erreurs de production. Générez le vôtre en 2 minutes avec l'IA.</span>\n      </div>\n      <div style=\"border-left: 3px solid #007AFF; padding-left: 16px; margin: 20px 0;\">\n        <strong>Erreur #3 : Commencer sans stratégie</strong><br>\n        <span style=\"color: #86868B;\">Notre Launch Map vous guide étape par étape, de l'identité de marque au lancement.</span>\n      </div>\n    </div>\n    <a href=\"{{ $env.OUTFITY_APP_URL }}/launch-map\" style=\"display: inline-block; background: #000; color: #fff; padding: 14px 28px; border-radius: 100px; text-decoration: none; font-weight: 500;\">Voir ma Launch Map →</a>\n    <p style=\"color: #86868B; font-size: 13px; margin-top: 30px;\">OUTFITY par BIANGORY</p>\n  </div>\n</div>"
                            }
                        ]
                    },
                    "options": {}
                },
                "id": "resend-j1",
                "name": "Resend - Tips",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.1,
                "position": [
                    1120,
                    380
                ]
            }
        ],
        "connections": {
            "Webhook Signup": {
                "main": [
                    [
                        {
                            "node": "Valider Données",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Valider Données": {
                "main": [
                    [
                        {
                            "node": "Réponse OK",
                            "type": "main",
                            "index": 0
                        },
                        {
                            "node": "Resend - Bienvenue",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Resend - Bienvenue": {
                "main": [
                    [
                        {
                            "node": "Attendre J1",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Attendre J1": {
                "main": [
                    [
                        {
                            "node": "Resend - Tips",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            }
        },
        "settings": {
            "executionOrder": "v1"
        }
    }
]