n8n/workflows/02-email-onboarding.json
[
    {
        "name": "📧 OUTFITY - Onboarding Stratégique (7 Jours)",
        "nodes": [
            {
                "parameters": {
                    "httpMethod": "POST",
                    "path": "outfity-onboarding",
                    "responseMode": "responseNode",
                    "options": {}
                },
                "id": "webhook-signup",
                "name": "Webhook Signup",
                "type": "n8n-nodes-base.webhook",
                "typeVersion": 2,
                "position": [
                    240,
                    300
                ],
                "webhookId": "outfity-onboarding"
            },
            {
                "parameters": {
                    "jsCode": "const { userId, email, name, plan } = $input.first().json;\n\nif (!email || !userId) {\n  throw new Error('email et userId requis');\n}\n\nreturn [{\n  json: {\n    userId,\n    email,\n    name: name || 'Créateur',\n    plan: plan || 'free',\n    signupDate: new Date().toISOString()\n  }\n}];"
                },
                "id": "validate-data",
                "name": "Valider Données",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    460,
                    300
                ]
            },
            {
                "parameters": {
                    "respondWith": "json",
                    "responseBody": "={ \"success\": true, \"message\": \"Sequence d'onboarding lancée pour {{ $json.email }}\" }",
                    "options": {
                        "responseCode": 200
                    }
                },
                "id": "respond-ok",
                "name": "Réponse OK",
                "type": "n8n-nodes-base.respondToWebhook",
                "typeVersion": 1,
                "position": [
                    680,
                    180
                ]
            },
            {
                "parameters": {
                    "method": "POST",
                    "url": "https://api.resend.com/emails",
                    "authentication": "genericCredentialType",
                    "genericAuthType": "httpHeaderAuth",
                    "sendHeaders": true,
                    "headerParameters": {
                        "parameters": [
                            {
                                "name": "Authorization",
                                "value": "=Bearer {{ $env.RESEND_API_KEY || 're_HxzF3dkH_LAvcMEzP6Tmfs7HUbXpseuRb' }}"
                            }
                        ]
                    },
                    "sendBody": true,
                    "bodyParameters": {
                        "parameters": [
                            {
                                "name": "from",
                                "value": "OUTFITY <onboarding@outfity.fr>"
                            },
                            {
                                "name": "to",
                                "value": "={{ $json.email }}"
                            },
                            {
                                "name": "subject",
                                "value": "=🎉 Bienvenue dans l'élite, {{ $json.name }} !"
                            },
                            {
                                "name": "html",
                                "value": "=<div style=\"font-family: -apple-system, Inter, sans-serif; max-width: 600px; margin: 0 auto; background: #F5F5F7; padding: 40px 20px;\">\n  <div style=\"background: white; border-radius: 32px; padding: 48px; text-align: center; box-shadow: 0 4px 12px rgba(0,0,0,0.05);\">\n    <img src=\"{{ $env.OUTFITY_APP_URL || 'https://outfity.fr' }}/icon.png\" width=\"80\" height=\"80\" style=\"margin-bottom: 24px;\">\n    <h1 style=\"color: #1D1D1F; font-size: 32px; font-weight: 700; letter-spacing: -0.04em; margin-bottom: 16px;\">Bienvenue dans le futur de la mode.</h1>\n    <p style=\"color: #6E6E73; font-size: 18px; line-height: 1.6; margin-bottom: 32px;\">Bonjour {{ $json.name }}, vous venez de rejoindre l'élite des créateurs qui ne devinent plus, mais qui savent.</p>\n    <div style=\"background: #F5F5F7; border-radius: 24px; padding: 32px; margin-bottom: 32px; text-align: left;\">\n      <h2 style=\"font-size: 14px; text-transform: uppercase; letter-spacing: 0.1em; color: #007AFF; margin-bottom: 20px;\">VOS 3 PREMIÈRES ÉTAPES</h2>\n      <div style=\"margin-bottom: 16px;\"><strong>🚀 Lancez votre Map</strong> — Le guide pas-à-pas pour votre marque.</div>\n      <div style=\"margin-bottom: 16px;\"><strong>🔎 Scan Radar Elite</strong> — Découvrez ce qui va buzzer demain.</div>\n      <div><strong>🤖 Design Studio AI</strong> — Votre premier vêtement en 2 minutes.</div>\n    </div>\n    <a href=\"{{ $env.OUTFITY_APP_URL || 'https://outfity.fr' }}/dashboard\" style=\"display: inline-block; background: #007AFF; color: #fff; padding: 20px 40px; border-radius: 100px; text-decoration: none; font-weight: 600; font-size: 16px; transition: all 0.2s;\">Accéder à mon Dashboard</a>\n    <p style=\"color: #86868B; font-size: 12px; margin-top: 40px;\">© 2026 OUTFITY Intelligence — Données, Stratégie & Influence.</p>\n  </div>\n</div>"
                            }
                        ]
                    },
                    "options": {}
                },
                "id": "resend-j0",
                "name": "Resend - Bienvenue",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.1,
                "position": [
                    680,
                    380
                ]
            },
            {
                "parameters": {
                    "amount": 1,
                    "unit": "days"
                },
                "id": "wait-j1",
                "name": "Attendre J1",
                "type": "n8n-nodes-base.wait",
                "typeVersion": 1,
                "position": [
                    900,
                    380
                ]
            },
            {
                "parameters": {
                    "method": "POST",
                    "url": "https://api.resend.com/emails",
                    "authentication": "genericCredentialType",
                    "genericAuthType": "httpHeaderAuth",
                    "sendHeaders": true,
                    "headerParameters": {
                        "parameters": [
                            {
                                "name": "Authorization",
                                "value": "=Bearer {{ $env.RESEND_API_KEY || 're_HxzF3dkH_LAvcMEzP6Tmfs7HUbXpseuRb' }}"
                            }
                        ]
                    },
                    "sendBody": true,
                    "bodyParameters": {
                        "parameters": [
                            {
                                "name": "from",
                                "value": "OUTFITY <onboarding@outfity.fr>"
                            },
                            {
                                "name": "to",
                                "value": "={{ $json.email }}"
                            },
                            {
                                "name": "subject",
                                "value": "⚠️ Pourquoi 90% des marques échouent (et comment l'éviter)"
                            },
                            {
                                "name": "html",
                                "value": "=<div style=\"font-family: -apple-system, Inter, sans-serif; max-width: 600px; margin: 0 auto; background: #000; padding: 40px 20px;\">\n  <div style=\"background: white; border-radius: 32px; padding: 48px;\">\n    <span style=\"background: #FF3B30; color: white; padding: 4px 12px; border-radius: 100px; font-size: 12px; font-weight: 700;\">ATTENTION</span>\n    <h1 style=\"color: #1D1D1F; font-size: 28px; font-weight: 700; letter-spacing: -0.04em; margin-top: 20px;\">L'erreur à 10 000€.</h1>\n    <p style=\"color: #1D1D1F; font-size: 16px; line-height: 1.6;\">Bonjour {{ $json.name }}, la plupart des créateurs lancent des produits basés sur leur intuition. C'est le moyen le plus rapide de perdre du stock.</p>\n    <p style=\"color: #1D1D1F; font-size: 16px; line-height: 1.6;\"><strong>La solution OUTFITY :</strong> L'analyse IVS (Industry Viral Score). Nous scannons TikTok et Instagram pour vous dire exactement ce qui va se vendre avant même que vous ne lanciez la prod.</p>\n    <div style=\"border-left: 4px solid #007AFF; padding-left: 20px; margin: 30px 0;\">\n      <p style=\"font-style: italic; color: #6E6E73;\">\"J'ai économisé 3000€ sur ma première collection en changeant une coupe de pantalon grâce au Radar.\" — Sarah, Créatrice.</p>\n    </div>\n    <a href=\"{{ $env.OUTFITY_APP_URL || 'https://outfity.fr' }}/trends\" style=\"display: inline-block; background: #000; color: #fff; padding: 18px 36px; border-radius: 100px; text-decoration: none; font-weight: 600;\">Voir le Radar Elite →</a>\n  </div>\n</div>"
                            }
                        ]
                    },
                    "options": {}
                },
                "id": "resend-j1",
                "name": "Resend - Strategie",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.1,
                "position": [
                    1120,
                    380
                ]
            },
            {
                "parameters": {
                    "amount": 2,
                    "unit": "days"
                },
                "id": "wait-j3",
                "name": "Attendre J3",
                "type": "n8n-nodes-base.wait",
                "typeVersion": 1,
                "position": [
                    1340,
                    380
                ]
            },
            {
                "parameters": {
                    "method": "POST",
                    "url": "https://api.resend.com/emails",
                    "authentication": "genericCredentialType",
                    "genericAuthType": "httpHeaderAuth",
                    "sendHeaders": true,
                    "headerParameters": {
                        "parameters": [
                            {
                                "name": "Authorization",
                                "value": "=Bearer {{ $env.RESEND_API_KEY || 're_HxzF3dkH_LAvcMEzP6Tmfs7HUbXpseuRb' }}"
                            }
                        ]
                    },
                    "sendBody": true,
                    "bodyParameters": {
                        "parameters": [
                            {
                                "name": "from",
                                "value": "OUTFITY <onboarding@outfity.fr>"
                            },
                            {
                                "name": "to",
                                "value": "={{ $json.email }}"
                            },
                            {
                                "name": "subject",
                                "value": "👗 Du design au Sourcing : La boucle est bouclée"
                            },
                            {
                                "name": "html",
                                "value": "=<div style=\"font-family: -apple-system, Inter, sans-serif; max-width: 600px; margin: 0 auto; background: #F5F5F7; padding: 40px 20px;\">\n  <div style=\"background: white; border-radius: 32px; padding: 48px; text-align: center;\">\n    <h1 style=\"color: #1D1D1F; font-size: 28px; font-weight: 700; margin-bottom: 16px;\">Besoin de fournisseurs ? 🧵</h1>\n    <p style=\"color: #6E6E73; font-size: 16px; line-height: 1.6;\">Trouver le bon atelier est un cauchemar. C'est pourquoi nous avons intégré un <strong>Hub de Sourcing</strong> directement dans OUTFITY.</p>\n    <img src=\"{{ $env.OUTFITY_APP_URL || 'https://outfity.fr' }}/images/onboarding/sourcing.svg\" style=\"width: 100%; border-radius: 16px; margin: 24px 0;\">\n    <p style=\"color: #1D1D1F; text-align: left;\">Utilisez votre Tech Pack généré par l'IA pour envoyer des demandes de devis claires et professionnelles. Gagnez en crédibilité auprès des usines dès le premier jour.</p>\n    <a href=\"{{ $env.OUTFITY_APP_URL || 'https://outfity.fr' }}/launch-map/sourcing\" style=\"display: inline-block; background: #007AFF; color: #fff; padding: 18px 36px; border-radius: 100px; text-decoration: none; font-weight: 600; margin-top: 24px;\">Explorer le Hub Sourcing</a>\n  </div>\n</div>"
                            }
                        ]
                    },
                    "options": {}
                },
                "id": "resend-j3",
                "name": "Resend - Sourcing",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.1,
                "position": [
                    1560,
                    380
                ]
            }
        ],
        "connections": {
            "Webhook Signup": {
                "main": [
                    [
                        {
                            "node": "Valider Données",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Valider Données": {
                "main": [
                    [
                        {
                            "node": "Réponse OK",
                            "type": "main",
                            "index": 0
                        },
                        {
                            "node": "Resend - Bienvenue",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Resend - Bienvenue": {
                "main": [
                    [
                        {
                            "node": "Attendre J1",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Attendre J1": {
                "main": [
                    [
                        {
                            "node": "Resend - Strategie",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Resend - Strategie": {
                "main": [
                    [
                        {
                            "node": "Attendre J3",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Attendre J3": {
                "main": [
                    [
                        {
                            "node": "Resend - Sourcing",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            }
        },
        "settings": {
            "executionOrder": "v1"
        }
    }
]