n8n/workflows/09-blogging-automatique.json
{
    "name": "📰 OUTFITY - Pilote Automatique (V6)",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "hours",
                            "hoursInterval": 6
                        }
                    ]
                }
            },
            "id": "trigger",
            "name": "Toutes les 6 heures",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.1,
            "position": [
                0,
                360
            ]
        },
        {
            "parameters": {
                "url": "https://fashionunited.fr/rss/news?local_newsboard=fr"
            },
            "id": "rss1",
            "name": "FashionUnited",
            "type": "n8n-nodes-base.rssFeedRead",
            "typeVersion": 1,
            "position": [
                260,
                180
            ]
        },
        {
            "parameters": {
                "url": "https://hypebeast.com/feed"
            },
            "id": "rss2",
            "name": "Hypebeast",
            "type": "n8n-nodes-base.rssFeedRead",
            "typeVersion": 1,
            "position": [
                260,
                360
            ]
        },
        {
            "parameters": {
                "url": "https://www.highsnobiety.com/feed/"
            },
            "id": "rss3",
            "name": "Highsnobiety",
            "type": "n8n-nodes-base.rssFeedRead",
            "typeVersion": 1,
            "position": [
                260,
                540
            ]
        },
        {
            "parameters": {
                "operation": "aggregateItems",
                "aggregateBy": "all"
            },
            "id": "aggregate_news",
            "name": "Rassembler News",
            "type": "n8n-nodes-base.itemLists",
            "typeVersion": 3,
            "position": [
                500,
                360
            ]
        },
        {
            "parameters": {
                "method": "GET",
                "url": "https://outfity.fr/api/blog/trends-data",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "x-n8n-secret",
                            "value": "bmad_n8n_secret_2024_ultra_secure"
                        }
                    ]
                }
            },
            "id": "trends",
            "name": "OUTFITY Trends",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                500,
                740
            ]
        },
        {
            "parameters": {
                "mode": "combine",
                "mergeByFields": {
                    "values": [
                        {
                            "field1": "json",
                            "field2": "json"
                        }
                    ]
                },
                "options": {}
            },
            "id": "merge_all",
            "name": "Tout Fusionner",
            "type": "n8n-nodes-base.merge",
            "typeVersion": 3,
            "position": [
                720,
                500
            ]
        },
        {
            "parameters": {
                "resource": "chat",
                "model": "gpt-4o-mini",
                "messages": {
                    "values": [
                        {
                            "role": "system",
                            "content": "Tu es le Rédacteur en Chef d'OUTFITY. \nTA MISSION : Rédiger UN seul article qui combine l'actualité mode et nos tendances internes.\n\nCONSIGNES :\n- Titre : Accrocheur en 'Sentence case'\n- Style : Expert, Premium, Streetwear\n- Marque interdites : Zalando, ASOS\n- Format sortie : JSON strict {title, slug, excerpt, content, tags[], coverImage (optionnel)}"
                        },
                        {
                            "role": "user",
                            "content": "=Voici les données :\n\n--- NEWS RSS (Sources) ---\n{{ JSON.stringify($json.items) }}\n\n--- RADAR OUTFITY (Interne) ---\n{{ JSON.stringify($json.data) }}"
                        }
                    ]
                },
                "jsonOutput": true
            },
            "id": "ai_editor",
            "name": "IA - Rédacteur",
            "type": "n8n-nodes-base.openAi",
            "typeVersion": 1.1,
            "position": [
                940,
                500
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://outfity.fr/api/blog/webhook",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "x-n8n-secret",
                            "value": "bmad_n8n_secret_2024_ultra_secure"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "title",
                            "value": "={{ $json.message.content.title }}"
                        },
                        {
                            "name": "slug",
                            "value": "={{ $json.message.content.slug }}"
                        },
                        {
                            "name": "excerpt",
                            "value": "={{ $json.message.content.excerpt }}"
                        },
                        {
                            "name": "content",
                            "value": "={{ $json.message.content.content }}"
                        },
                        {
                            "name": "tags",
                            "value": "={{ $json.message.content.tags }}"
                        },
                        {
                            "name": "author",
                            "value": "OUTFITY Intelligence"
                        }
                    ]
                }
            },
            "id": "publish_blog",
            "name": "Publication",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1160,
                500
            ]
        }
    ],
    "connections": {
        "Toutes les 6 heures": {
            "main": [
                [
                    {
                        "node": "FashionUnited",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Hypebeast",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Highsnobiety",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "OUTFITY Trends",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "FashionUnited": {
            "main": [
                [
                    {
                        "node": "Rassembler News",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Hypebeast": {
            "main": [
                [
                    {
                        "node": "Rassembler News",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Highsnobiety": {
            "main": [
                [
                    {
                        "node": "Rassembler News",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OUTFITY Trends": {
            "main": [
                [
                    {
                        "node": "Tout Fusionner",
                        "type": "main",
                        "index": 1
                    }
                ]
            ]
        },
        "Rassembler News": {
            "main": [
                [
                    {
                        "node": "Tout Fusionner",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Tout Fusionner": {
            "main": [
                [
                    {
                        "node": "IA - Rédacteur",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "IA - Rédacteur": {
            "main": [
                [
                    {
                        "node": "Publication",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}