n8n_ready_to_import/blog_automatique_v9.json
{
    "name": "📰 OUTFITY - Pilote Automatique (V9 - Focus Unique)",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "hours",
                            "hoursInterval": 4
                        }
                    ]
                }
            },
            "id": "trigger",
            "name": "Toutes les 4 heures",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.1,
            "position": [
                0,
                360
            ]
        },
        {
            "parameters": {
                "url": "https://fr.fashionnetwork.com/rss/feed/fr,1.xml"
            },
            "id": "rss-fn",
            "name": "FashionNetwork FR",
            "type": "n8n-nodes-base.rssFeedRead",
            "typeVersion": 1,
            "position": [
                260,
                250
            ]
        },
        {
            "parameters": {
                "url": "https://journalduluxe.fr/fr/rss"
            },
            "id": "rss-jdl",
            "name": "Journal du Luxe",
            "type": "n8n-nodes-base.rssFeedRead",
            "typeVersion": 1,
            "position": [
                260,
                450
            ]
        },
        {
            "parameters": {
                "jsCode": "const allItems = $input.all().map(i => i.json);\nreturn [{ json: { items: allItems } }];"
            },
            "id": "aggregate",
            "name": "Rassembler News",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                500,
                360
            ]
        },
        {
            "parameters": {
                "method": "GET",
                "url": "={{ $env.OUTFITY_APP_URL || 'https://outfity.fr' }}/api/blog/trends-data",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "x-n8n-secret",
                            "value": "bmad_n8n_secret_2024_ultra_secure"
                        }
                    ]
                }
            },
            "id": "trends",
            "name": "OUTFITY Trends",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                500,
                550
            ]
        },
        {
            "parameters": {
                "mode": "combine",
                "mergeByFields": {
                    "values": [
                        {
                            "field1": "json",
                            "field2": "json"
                        }
                    ]
                }
            },
            "id": "merge",
            "name": "Fusionner",
            "type": "n8n-nodes-base.merge",
            "typeVersion": 3,
            "position": [
                720,
                450
            ]
        },
        {
            "parameters": {
                "resource": "chat",
                "model": "gpt-4o-mini",
                "messages": {
                    "values": [
                        {
                            "role": "system",
                            "content": "Tu es le Rédacteur en Chef d'OUTFITY.\n\nTA MISSION :\n1. Analyser la liste des actualités fournies.\n2. Sélectionner LE sujet le plus stratégique (business, innovation, luxe).\n3. Rédiger UN SEUL article approfondi sur ce sujet unique.\n\nCONSIGNES STRICTES :\n- NE JAMAIS croiser plusieurs actualités différentes dans le même article.\n- Exception : Si plusieurs sources traitent du MÊME événement, regroupe les informations.\n- Utilise les données 'OUTFITY Trends' pour enrichir l'article SEULEMENT si elles sont pertinentes pour le sujet choisi.\n- Titre : Accrocheur, style magazine premium.\n- Style : Professionnel, expert, analytique.\n- Format : JSON {title, slug, excerpt, content, tags[], coverImage, sourceUrl}"
                        },
                        {
                            "role": "user",
                            "content": "=ACTUALITÉS DISPONIBLES :\n{{ JSON.stringify($node[\"Rassembler News\"].json.items) }}\n\nDONNÉES TENDANCES OUTFITY :\n{{ JSON.stringify($node[\"OUTFITY Trends\"].json) }}"
                        }
                    ]
                },
                "jsonOutput": true
            },
            "id": "ai_editor",
            "name": "IA - Expert Rédacteur",
            "type": "n8n-nodes-base.openAi",
            "typeVersion": 1.1,
            "position": [
                940,
                450
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $env.OUTFITY_APP_URL || 'https://outfity.fr' }}/api/blog/webhook",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "x-n8n-secret",
                            "value": "bmad_n8n_secret_2024_ultra_secure"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "title",
                            "value": "={{ $json.message.content.title }}"
                        },
                        {
                            "name": "slug",
                            "value": "={{ $json.message.content.slug }}"
                        },
                        {
                            "name": "excerpt",
                            "value": "={{ $json.message.content.excerpt }}"
                        },
                        {
                            "name": "content",
                            "value": "={{ $json.message.content.content }}"
                        },
                        {
                            "name": "tags",
                            "value": "={{ $json.message.content.tags }}"
                        },
                        {
                            "name": "sourceUrl",
                            "value": "={{ $json.message.content.sourceUrl }}"
                        },
                        {
                            "name": "coverImage",
                            "value": "={{ $json.message.content.coverImage }}"
                        },
                        {
                            "name": "author",
                            "value": "OUTFITY Intelligence"
                        }
                    ]
                }
            },
            "id": "publish",
            "name": "Publication",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1160,
                450
            ]
        }
    ],
    "connections": {
        "Toutes les 4 heures": {
            "main": [
                [
                    {
                        "node": "FashionNetwork FR",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Journal du Luxe",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "OUTFITY Trends",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "FashionNetwork FR": {
            "main": [
                [
                    {
                        "node": "Rassembler News",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Journal du Luxe": {
            "main": [
                [
                    {
                        "node": "Rassembler News",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Rassembler News": {
            "main": [
                [
                    {
                        "node": "Fusionner",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OUTFITY Trends": {
            "main": [
                [
                    {
                        "node": "Fusionner",
                        "type": "main",
                        "index": 1
                    }
                ]
            ]
        },
        "Fusionner": {
            "main": [
                [
                    {
                        "node": "IA - Expert Rédacteur",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "IA - Expert Rédacteur": {
            "main": [
                [
                    {
                        "node": "Publication",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}